.link a {
    display: block;
    width: 12rem;
    margin: 50px auto;
    padding: 1.5rem 2rem;
    border: #000 solid 2px;
    border-radius: 5px;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    transition: transform .2s;
    will-change: transform;
    
}

.link a:hover {
    box-shadow: -1px 1px 7px 0px #0000001f;
    transform: scale(1.02);
}

.info {
    color: #fff;
}


.ins {
    background : linear-gradient(#F2C50C, #F8B90E);
    background-size: cover;
    color: #000;
}


.cv {
    background: linear-gradient(#4E5F79, #35395A);
}

.pf {
    background : linear-gradient(#F99B96, #DA6A74);
    background-size: cover;
}


.info div {
    margin: 0 auto;
    width: 60%;
    max-width: 350px;
}

.info a {
    display: inline-block;
    margin-right: 5px;
    margin-top: .5em;
    padding: .3rem 1.2em;
    border: #fff 1px solid;
    border-radius: 3px;
    color: #fff;
    font-size: .8rem;
    transform: scale(1);

    transition: transform .2s;

}

.info a:hover {
    box-shadow: -1px 1px 7px 0px #0000001f;
    transform: scale(1.06);
}

.ins a {
    color: #000;
    border-color: #000;
}

.pf_link:hover {
    border-color: #DA6A74;
    color: #DA6A74;
    transition: .2s;
}

.cv_link:hover {
    border-color: #4E5F79;
    color: #4E5F79;
    transition: .2s;
}


.ins_link:hover {
    border-color:#F2C50C;
    color: #F2C50C;
    transition: .2s;
}

@media screen and (max-width: 640px) {
    .link a {
        display: block;
        padding: 1rem 1.5rem;
        margin: 30px auto;
        font-size: 1em;
        transition: .2s;
    }

    .link {
        margin: 70px auto 30px;
    }

}

@media screen and (max-height: 650px) {
    .link a {
        display: block;
        padding: .5rem 1rem;
        margin: 30px auto;
        font-size: 1em;
        transition: .2s;
    }

    .link {
        margin: .6rem auto .6rem;
    }

    img, h1 {
        position: absolute !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
    }
}